{{> head }}



   {{> navbar }}

 <div class="row">
     <div class="col-8">
         <h1>Hola que tal</h1>
     </div>
     <div class="col-4">
         <img src="assets/img/silk-hulk.png" class="img-thumbnail" alt="">
     </div>
 </div>
    
    {{> footer }}